@model IEnumerable<Order>
@{
    ViewBag.Title = "Orders";
    Layout = "_AdminLayout";
}
@*@if (Model.Count() > 0)
{*@
    <table class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>Zip</th>
            <th colspan="3">Details</th>
            <th></th>
        </tr>
        @foreach (Order o in Model)
        {
            @if (o.Name == User.Identity.Name) @*This should filter to the current user logged in, no other orders. *@
            {
                <tr>
                    <td>@o.Name</td>
                    <td>@o.Zip</td>
                    <th>Product</th>
                    <th>Quantity</th>
                    <td>Order ID</td>
                </tr>
                @foreach (CartLine line in o.Lines)
                {
                    <tr>
                        <td colspan="2"></td>
                        <td>@line.Product.Name</td>
                        <td>@line.Quantity</td>
                        <td>@o.OrderID</td>
                    </tr>
                }
            }
        }
    </table>
@*}*@
@*else
{
    <div class="text-center">No Orders yet!</div>
}*@